<header  class="site-header" style="border-bottom: 1px solid #eee; padding: 14px 0;">
  <nav style="width: 90%; margin: auto; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box;">
    
    <a href="/" class="site-brand">
      <img
        src="{{ site.logo }}"
        alt="Orgnice logo"
        class="site-logo"
      >
    </a>

    <div>
      {% for link in site.nav_links %}
        <a href="{{ link.url }}" style="margin-left: 16px; text-decoration: none;">
          {{ link.title }}
        </a>
      {% endfor %}
    </div>

  </nav>
</header>
