<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/assets/style.css">

  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}">
    {{ site.head }}
  </head>

  <body>
    {% include header.html %}

    <!-- {% assign is_home = page.url == "/" or page.url == "/index.html" %}
    {% if is_home %}
        {% include founders.html %}
        {% include logos.html %}
    {% endif %} -->

    <main class="page-content">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
